<script>
export default {
  name: 'CloseIcon',
  props: {
    fill: {
      type: String,
      required: false,
      default: '#000',
    },
    size: {
      type: Number,
      required: false,
      default: 16,
    },
  },
};
</script>

<template>
  <svg
    :width="size"
    :height="size"
    viewBox="0 0 16 16"
    preserveAspectRatio="xMidYMid meet"
    :fill="fill"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M4.28 3.22a.75.75 0 0 0-1.06 1.06L6.94 8l-3.72 3.72a.75.75 0 1 0 1.06 1.06L8 9.06l3.72 3.72a.75.75 0 1 0 1.06-1.06L9.06 8l3.72-3.72a.75.75 0 0 0-1.06-1.06L8 6.94 4.28 3.22Z"
    />
  </svg>
</template>
